<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FPT Book</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">
   

</head>
<body>
    
<!-- header section starts  -->

<header class="header">
    <div class="header-1">
        <a href="#" class="logo"> <i class="fas fa-book"></i> FPT Book </a>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#products">products</a>
        <a href="/shoppingCart/Pushase">Purchase</a>
    </nav>

    <form action="/search?=" class="search-form" method="get">
                <input type="search" name="searchInput" placeholder="search here..." id="searchInput">
                <a href="/search"><button class="btn-search"><i class="fas fa-search"></i></button></i></a>
    </form>
    <div class="icons">
                <div id="search-btn" class="fas fa-search"></div>
                <a href="/shoppingCart/viewCart" class="fas fa-shopping-cart"></a>
                <a href="/login" id="login-btn" class="fas fa-user"></a>
                <a href="/shoppingCart/viewProfile"><span class="header__navbar-user-name">{{user.name}}</span></a>
                <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
            </div>
    </div>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>FPT  <span>BOOK</span> products for your</h3>
        <a href="#" class="btn">shop now</a>
    </div>

</section>

<!-- home section ends -->

<!-- features section starts  -->
   <section class="featured" id="featured">

        <h1 class="heading"> <span>The hottest product</span> </h1>
            <div class="swiper featured-slider">
                {{#each hotBook}}
                <div class="swiper-slide box">
                    <a href="/details?id={{_id}}" class="swiper-slide box" style="display:none"></a>
                    <div class="image">
                        <a href="/details?id={{_id}}"><img src="{{pic}}" alt=""></a>
                    </div>
                    <div class="content">
                        <a href="/details?id={{_id}}">
                            <h3>{{name}}</h3>
                        </a>
                        <div class="price">{{price}} </div>
                        <a href="/shoppingCart/viewCart" class="btn">add to cart</a>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
</section>

<!-- features section ends -->

<!-- products section starts  -->

<section class="arrivals" id="arrivals">

        <h1 class="heading"> <span>ALL PRODUCT</span> </h1>
        <div class="swiper arrivals-slider">
            {{#each comics}}
            <div class="swiper-slide box">
                <a href="/details?id={{_id}}" class="swiper-slide box">
                    <div class="image">
                        <img src="{{pic}}" alt="">
                    </div>
                    <div class="content">
                        <h3>{{name}}</h3>
                        <div class="price">{{price}}</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>
               
            </div>
             {{/each}}
        </div>
{{!-- 
        </div>
        <div class="swiper arrivals-slider">
            <div class="swiper-wrapper">
                {{#each ITbooks}}
                <a href="/details?id={{_id}}" class="swiper-slide box">
                    <div class="image">
                        <img src="{{pic}}" alt="">
                    </div>
                    <div class="content">
                        <h3>{{name}}</h3>
                        <div class="price">{{price}}</div>
                    </div>
                </a>
                {{/each}}
            </div> --}}
            
        {{!-- <div class="swiper arrivals-slider">
            <div class="swiper-wrapper">
                {{#each Action}}
                <a href="/details?id={{_id}}" class="swiper-slide box">
                    <div class="image">
                        <img src="{{pic}}" alt="">
                    </div>
                    <div class="content">
                        <h3>{{name}}</h3>
                        <div class="price">{{price}}</div>
                    </div>
                </a>
                {{/each}}
            </div>
        </div> --}}
    </div>
{{!-- <section class="categories" id="categories">

    <h1 class="heading"> product <span>categories</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="image/cat-1.png" alt="">
            <h3>vegitables</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn">shop now</a>
        </div>

        <div class="box">
            <img src="image/cat-2.png" alt="">
            <h3>fresh fruits</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn">shop now</a>
        </div>

        <div class="box">
            <img src="image/cat-3.png" alt="">
            <h3>dairy products</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn">shop now</a>
        </div>

        <div class="box">
            <img src="image/cat-4.png" alt="">
            <h3>fresh meat</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn">shop now</a>
        </div>

    </div>

</section> --}}

<!-- categories section ends -->

<!-- review section starts  -->
{{!-- 
<section class="review" id="review">

    <h1 class="heading"> customer's <span>review</span> </h1>

    <div class="swiper review-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="image/pic-1.png" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde sunt fugiat dolore ipsum id est maxime ad tempore quasi tenetur.</p>
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/pic-2.png" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde sunt fugiat dolore ipsum id est maxime ad tempore quasi tenetur.</p>
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/pic-3.png" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde sunt fugiat dolore ipsum id est maxime ad tempore quasi tenetur.</p>
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/pic-4.png" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde sunt fugiat dolore ipsum id est maxime ad tempore quasi tenetur.</p>
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

        </div>

    </div>

</section> --}}

<!-- review section ends -->

<!-- blogs section starts  -->
{{!-- 
<section class="blogs" id="blogs">

    <h1 class="heading"> our <span>blogs</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="image/blog-1.jpg" alt="">
            <div class="content">
                <div class="icons">
                    <a href="#"> <i class="fas fa-user"></i> by user </a>
                    <a href="#"> <i class="fas fa-calendar"></i> 1st may, 2021 </a>
                </div>
                <h3>fresh and organic vegitables and fruits</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, expedita.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <img src="image/blog-2.jpg" alt="">
            <div class="content">
                <div class="icons">
                    <a href="#"> <i class="fas fa-user"></i> by user </a>
                    <a href="#"> <i class="fas fa-calendar"></i> 1st may, 2021 </a>
                </div>
                <h3>fresh and organic vegitables and fruits</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, expedita.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <img src="image/blog-3.jpg" alt="">
            <div class="content">
                <div class="icons">
                    <a href="#"> <i class="fas fa-user"></i> by user </a>
                    <a href="#"> <i class="fas fa-calendar"></i> 1st may, 2021 </a>
                </div>
                <h3>fresh and organic vegitables and fruits</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, expedita.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

    </div>

</section>>
</section> --}}

<!-- products section ends -->

<!-- categories section starts  -->
{{!--  --}}

<!-- blogs section ends -->

<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3> FPT Book <i class="fas fa-book"></i> </h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +123-456-7890 </a>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +111-222-3333 </a>
            <a href="#" class="links"> <i class="fas fa-envelope"></i> namntgch190885@fpt.edu.vn</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> features </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> products </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> categories </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> review </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> blogs </a>
        </div>

        <div class="box">
            <h3>newsletter</h3>
            <p>subscribe for latest updates</p>
            <input type="email" placeholder="your email" class="email">
            <input type="submit" value="subscribe" class="btn">
            <img src="image/payment.png" class="payment-img" alt="">
        </div>

    </div>

    <div class="credit"> created by <span> mr. Tien Nam</span> | all rights reserved </div>

</section>

<!-- footer section ends -->
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="js/script.js"></script>
</body>
</html>