<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
     <form action="/admin/updatebook" method="post">
        <h5>Update Book</h5>
            <input  type="hidden" name="txtid" value="{{book._id}}"class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            <br>
            
        <h5>Name</h5>
            <div class="input-group mb-3">
                <input  type="text" name="txtName"  id="txtName" value="{{book.name}}"class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
        <h5>Description</h5>
            <div class="input-group mb-3">
                <input  type="text" name="txtDescription"  id="txtDescription" value="{{book.des}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
        <h5>Price</h5>
            <div class="input-group mb-3">
                <input type="text" name="txtPrice"  id="txtPrice" value="{{book.price}}"class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
        <h5>Image</h5>
            <div class="input-group mb-3">
                <input type="text" name="txtImage"  id="txtImage" value="{{book.pic}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="login__decentralization">
                <select name="Category" class="decentralization" id="Category">
                    {{#each categoryname}}
                            <tr>
                            <option value="{{name}}">{{name}}</option>
                            </tr>
                            {{/each}}
                </select>
            </div>
            <button type="submit" value="updatebook" class="btn"> <a href="/"></a> Update </button>
        </form>
</body>
</html>